body {
    background-image: url("../images/math-behind.jpg");
    display: inline;
    background-repeat: repeat;   
    font-family: 'PT Serif', 'Roboto', serif;  
}

.header {
    text-align: center;
    width: 30%; 
    height: 30%;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 50px;  
}

.container1 {
    width: 20vw;
    text-align: center;
    vertical-align: top;
    float: left;
    margin: 10px;
}

.stats {
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightblue;
    width: 85%; 
    align-self: auto;
    padding: 30px;
    margin: 20px;
    text-align: center; 
    opacity: .9;
    font-size: 20px;  
    color: black;
}

.container2{
    width: 80vw;
    float: left;
    height: 80vh;
    margin-left: 50px;  
}

.cards {
    display: inline-block;
    height: 50%;
    width: 35%;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;   
    background-repeat: no-repeat;
}

.front {
    background-image: url("../images/frontCard.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px; 
    background-size: cover;
    border: 1px solid white;
    background-position: center center;
   
}

.einstein, .newton, .marie, .feynman, .hawking, .bohr, .galileo, .faraday, .bell{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: cover; 
    border-radius: 15px;
}

.einstein {
    background-image: url("../images/Albert_Einstein.jpg");
    
}

.newton {    
    background-image: url("../images/IsaacNewton.jpg");

}

.marie {    
    background-image: url("../images/Marie_Curie.jpg");
   
}

.feynman {
    background-image: url("../images/Richard_Feynman.jpg");
    
}

.hawking {
    background-image: url("../images/stephen-hawking.jpg");

}

.bohr {
    background-image: url("../images/Niels_Bohr.jpg");
        
}

.galileo {
    background-image: url("../images/galileo.jpg");

}

.faraday {
    background-image: url("../images/faraday.jpg");
    
}

.bell{
    background-image: url("../images/Alexander_Graham_Bell.jpg");
   
}

.hidden {
    display: none;
}

.overlay {
    position: fixed; 
    display: none;
    top: 30%;
    left: 35%;
    width: 35%;
    height: 40%;
    background-color: lightblue;
    border-radius: 10px;   
}

.modal {
    text-align: center;
    position: absolute;
    margin: auto;
    font-size: 35px;
    width: 75%;
    height: 100%;
    left: 14%;
}

#tryagain {
    font-size: 20px;
    float: left;
    left: 25%;
    top: 25%;
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    border: 1px solid black;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        text-align: center;
        width: 50%; 
        height: 10%;
        font-size: 45px; 
    } 
    .container1 {
        width: 18vw;
        height: 100%;
        margin: 5px; 
        margin-top: 40px;        
    }

    .container2 {
        width: 70vw;
        height: 100vh;
        margin-left: 75px; 
    }

    .stats {
        width: 75%; 
        padding: 20px; 
        margin: 15px;
        margin-bottom: 20px;
        font-size: 25px;  
    }

    .cards {
        height: 12%;
        width: 25%;
        margin-bottom: 20px;
        margin-right: 20px;  
        margin-left: 15px; 
    }

    .modal {
        font-size: 20px;
        width: 70%;
        height: 30%;
        left: 15%;
    }

    .overlay {
        width: 45%;
        height: 25%;
    }

    #tryagain {
        font-size: 20px;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        font-size: 45px; 
    } 

    .container1 {
        width: 10vw;
        height: 100%;
        margin: 3px;      
        margin-top: 70px;   
    }

    .container2 {
        width: 82vw;
        height: 100vh;
        margin-top: 30px;
        color: white; 
    }

    .cards {
        height: 19%;
        width: 14%;
        margin-bottom: 30px;
        margin-right: 11px;  
        margin-left: 7px; 
    }

    .stats {
        width: 80%; 
        padding: 15px; 
        margin: 10px;
        margin-bottom: 5px;
        font-size: 20px; 
        
    }

}


@media screen and (min-width: 376px) and (max-width: 667px) {
    .header {
        text-align: center;
        width: 50%; 
        font-size: 30px; 
        padding: 10px;
    }

    .container1 {
        width: 20vw;
        height: 100vh;
        margin-top: 20px;
        margin-left: 25px;
    }

    .stats {
        width: 60%; 
        padding: 9px;
        margin: 6px;
        font-size: 12px;  
        margin-bottom: 5px;
    }

    .container2 {
        width: 70vw;
        height: 100vh;
        margin-left: 2px;  
    }

    .cards {
        height: 20%;
        width: 15%;
        margin-bottom: 5px;
        margin-right: 2px;  
        margin-left: 2px; 
    }

    .modal {
        font-size: 18px;
        width: 80%;
        height: 100%;
        left: 10%;
    }

    .overlay {
        left: 30%; 
        width: 50%;
        height: 50%;
        
    }
}

@media screen and (max-width: 375px) {
    .header {
        text-align: center;
        width: 50%; 
        font-size: 25px; 
        margin-bottom: 1px; 
    }

    .container1 {
        width: 20vw;
        height: 100vh;
        margin: 10px; 
        margin-top: 35px; 
    }

    .stats {
        width: 60%; 
        padding: 10px;
        margin: 9px;
        font-size: 13px;  
    }

    .container2 {
        width: 70vw;
        height: 100vh;
        margin-left: 2px;
        
    }

    .cards {
        height: 12%;
        width: 30%;
        margin-bottom: 5px;
        margin-right: 2px;  
        margin-left: 2px; 
    }

    .modal {
        font-size: 18px;
        width: 80%;
        height: 100%;
        left: 10%;
    }

    .overlay {
        left: 30%; 
        width: 64%;
        height: 40%;
        
    }
}



